sudo: false
language: go

go:
  - 1.7
  - 1.6.3
  - tip

matrix:
  allow_failures:
    - go: tip
  fast_finish: true

before_script:
  - go get -u github.com/golang/lint/golint

script:
  - go test -v --race $(go list ./... | grep -v '/certificate')

after_script:
  - test -z "$(gofmt -s -l -w . | tee /dev/stderr)"
  - test -z "$(golint ./...     | tee /dev/stderr)"
  - go vet ./...

os:
  - linux

notifications:
  email: false
